body{
    background-color: #252525;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #a99a9a, #272727), repeating-radial-gradient(circle at center center, #a99a9a, #a99a9a, 9px, transparent 18px, transparent 9px);
    background-blend-mode: multiply;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}